@import "tailwindcss";

.auth-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 1rem;
}

.auth-card {
  width: 680px;
  min-height: 600px;
  background-color: white;
  border: 4px solid #4b286d;
  border-radius: 40px;
  padding: 60px;
  margin-top: -10rem;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.user-icon-circle {
  width: 130px;
  border-radius: 50%;
  background-color: #2b8000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  transition: background-color 0.4s ease;
}

.user-icon-circle.green {
  background-color: #2b8000;
}

.user-icon-circle.purple {
  background-color: #4b286d;
}

.user-icon {
  width: 100%;
  padding: auto;
  color: white;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 2rem;
}

.register-btn,
.login-btn {
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 8px;
  width: 90%;
  margin: auto;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: white;
}

.register-btn {
  background-color: #2b8000;
}

.register-btn:hover {
  background-color: #166534;
}

.login-btn {
  background-color: #4b286d;
}

.login-btn:hover {
  background-color: #4c1d95;
}

.back-btn {
  margin-left: auto;
  padding-top: 10px;
}

/* Tablets */
@media (max-width: 768px) {
}

/* Mobile phones */
@media (max-width: 480px) {
  .auth-card {
    width: 100vw;
    height: 100vh;
    padding: auto;
    border: none;
    box-shadow: none;
  }

  .auth-wrapper {
    margin-top: 3rem;
    padding: 0rem 0.5rem;
    height: 677px;
  }

  .user-icon-circle {
    width: 120px;
  }

  .register-btn,
  .login-btn {
    width: 100%;
    font-size: 1rem;
    padding: 1.5rem 2rem;
  }
  .button-group {
    margin-top: 2rem;
    padding: 0%;
  }
}
