.calculator-container {
  box-sizing: border-box;
  display: flex;
  width: 90vw;
  max-width: 1200px;
  min-height: 100vh;
  border-radius: 56px;
  background-color: #d9d9d9;
  position: relative;
  margin-bottom: 2rem;
  margin: auto;
  padding: 2rem;
  overflow: auto;
  scrollbar-width: none;
}

.overall-container {
  padding-bottom: 2rem;
  width: 100%;
}

/* Tablet styles */
@media (max-width: 1024px) {
  .calculator-container {
    width: 95vw;
    padding: 1.5rem;
    border-radius: 32px;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .calculator-container {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding: 1rem 2rem;
    border-radius: 0px;
    margin: 0;
  }
}
