.register-wrapper {
  margin-top: 10px;
}
.register-icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-input {
  padding: 2rem;
  border: 3px solid #2b8000;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #2b8000;
}

.register-input::placeholder {
  color: #2b8000;
}

.password-hint {
  font-size: 12px;
  color: #2b8000;
  text-align: left;
  margin-top: px;
  margin-bottom: -5px;
  padding-left: 4px;
  font-style: italic;
}

.register-submit {
  margin-top: 20px;
  background-color: #2b8000;
  color: white;
  border: none;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.register-submit:hover {
  background-color: #166534;
}

.form-error {
  color: rgb(201, 1, 1);
  font-size: 14px;
  margin-top: -10px;
}

.form-success {
  color: #166534;
  font-size: 14px;
  margin-top: -10px;
}

.password-input-wrapper {
  position: relative;
}

.password-popup {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 0.85rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  width: max-content;
  min-width: 220px;
}

.password-popup p {
  margin: 2px 0;
}

.password-popup .valid {
  color: #2b8000;
}

.password-popup .invalid {
  color: #920000;
}
